#:schema node_modules/wrangler/config-schema.json
name = "morai"
compatibility_date = "2024-12-30"
pages_build_output_dir = "./build/client"
[[kv_namespaces]]
binding = "STORY_DATA"
# Create with wrangler kv:namespace create STORY_DATA
id = "<YOUR_PRODUCTION_KV_ID>"
# Create with wrangler kv:namespace create STORY_DATA --preview
preview_id = "<YOUR_PREVIEW_KV_ID>"